<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap.css" >

    <title>Configuration</title>
  </head>
  <body >
    <div class="container" style="padding-top:1rem;">
        <div class="container" style="padding-top:1rem;">
            <h2>Configuration <span style="float:right;font-size:1.25rem;" class="text-muted">cam001</span></h2>
            <div id="location-holder">
                    <ul class="list-group ui-sortable" id="sortable">
                    <li class="ui-state-default list-group-item            list-group-item-primary ui-sortable-handle" style="position: relative; z-index: 1; left: 0px; top: 0px;">
                      <div class="location-title">/asdf</div>
                      Type : <span class="badge badge-secondary" style="text-transform: uppercase;">proxy</span>
                      
                        Host: <span class="badge badge-secondary"> http://0.0.0.0/:8080</span>
                      
                        
                          <button class="btn btn-secondary btn-sm" style="float:right;cursor:pointer;" onclick="$('#3308104985-colapse').collapse('toggle')">
                            Options
                          </button>
                        <div class="collapse" id="3308104985-colapse" style="">
                          i am a colapse
                
                
                          
                          <div style="text-align:right;">
                            <button class="btn btn-success" onclick="updateLocationById(3308104985)">
                            Save Changes
                          </button>
                          <button class="btn btn-danger" onclick="deleteLocation(3308104985)">
                            Discard
                          </button>
                          </div>
                
                        </div>
                    </li>
                  
                  </ul>
                </div>
        </div>
    </div>
    <script src="jquery.js" ></script>
    <script src="popper.js" ></script>
    <script src="bootstrap.js" ></script>
  </body>
</html>