<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap.css" >

    <title>Configuration</title>
  </head>
  <body >
    <div class="container" style="padding-top:1rem;">
        <div class="container" style="padding-top:1rem;">
            <h2>Configuration <span style="float:right;font-size:1.25rem;" class="text-muted">cam001</span></h2>
        </div>
    </div>
    <script src="jquery.js" ></script>
    <script src="popper.js" ></script>
    <script src="bootstrap.js" ></script>
  </body>
</html>